body {
  background-color: rgb(230 230 230);
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 2em;
  height: 2em;
  margin: 0 1em;
}
.svg-icon :hover {
  fill: white;
  stroke: white;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: rgba(255, 255, 255, 0.5);
}

.svg-icon circle {
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 2;
}